
body {
    font-family: sans-serif;
    background-color: #795548;
    margin-top: 75px;
            background-image:("https://s-media-cache-ak0.pinimg.com/avatars/niks2727_1440104512_140.jpg");

}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

