
body {
    font-family: sans-serif;
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR9icALUsIenM7mboeC6w1h9bVmWys50iPzc4olcvTS7WhrbbRPPQ");
    margin-top: 75px;

}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
footer{
    display: block;
    text-align: right;
    color:red;
    font-size:40px;
    
}

